body {
    color: #fff;
}

.section-padding {
    padding: 30px 0;
}

.section-header {
    margin-bottom: 50px;
}

.section-header h2 {
    color: steelblue;
    text-transform: uppercase;
    font-weight: 900;
}

.single-service {
    transition: 0.5s;
    text-align: center;
    height: 445px;
    padding: 115px 50px;
}

.single-service .icon {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-bottom: 35px;
}

.single-service .icon i {
    display: block;
    font-size: 32px;
    line-height: 90px;
}

.single-service .content {
    height: 32px;
    transition: 0.5s;
}

.single-service .content h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    margin: 0%;
    text-transform: uppercase;
}

.single-service .content p {
    color: #fff;
    line-height: 29px;
    margin: 27px 0 0;
}

.single-service:hover {
    background-image: linear-gradient(to bottom, #80f19f 0%, #0fc1eb 100%);
    padding: 60px 50px;
}

.single-service:hover .content>h3 {
    color: #fff;
}

.ser {
    position: absolute;
    right: 62%;
}

.ser-sk {
    position: absolute;
    right: 29%;
}